@{
    ViewData["Title"] = "Donor Details";
    var oldValue = (FoodItem)ViewData["oldValue"];
    var newValue = (FoodItem)ViewData["newValue"];
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Analytics</a></li>
                        <li class="breadcrumb-item">
                            <a asp-action="ItemsForApproval">Items For Approval</a>
                        </li><!--end nav-item-->
                        <li class="breadcrumb-item active">Food Item Details</li>
                    </ol>
                </div>
                <h4 class="page-title">Food Item Details</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4>Old Value</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Name
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.Name
                                </dd>
                                <dt class="col-sm-4">
                                    Item Type
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.ItemType
                                </dd>
                                <dt class="col-sm-4">
                                    Category
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.Category.Name
                                </dd>
                                <dt class="col-sm-4">
                                    In Stock
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.InStock
                                </dd>
                                <dt class="col-sm-4">
                                    Has Option
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.HasOption
                                </dd>
                                <dt class="col-sm-4">
                                    Reorder Level
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.ReorderLevel
                                </dd>
                                <dt class="col-sm-4">
                                    Unit Of Measure
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UnitOfMeasure.Name
                                </dd>
                                <dt class="col-sm-4">
                                    Added By
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.AddedBy
                                </dd>
                                <dt class="col-sm-4">
                                    Date Added
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.DateAdded
                                </dd>
                                <dt class="col-sm-4">
                                    Last Updated By
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UpdatedBy
                                </dd>
                                <dt class="col-sm-4">
                                    Date Last Updated
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UpdatedBy
                                </dd>
                            </dl>
                        </div>
                        <div class="col-6">
                            <h4>New Value</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Name
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.Name
                                </dd>
                                <dt class="col-sm-4">
                                    Item Type
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.ItemType
                                </dd>
                                <dt class="col-sm-4">
                                    Category
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.Category.Name
                                </dd>
                                <dt class="col-sm-4">
                                    In Stock
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.InStock
                                </dd>
                                <dt class="col-sm-4">
                                    Has Option
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.HasOption
                                </dd>
                                <dt class="col-sm-4">
                                    Reorder Level
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.ReorderLevel
                                </dd>
                                <dt class="col-sm-4">
                                    Unit Of Measure
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UnitOfMeasure.Name
                                </dd>                               
                                <dt class="col-sm-4">
                                    Updated By
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UpdatedBy
                                </dd>
                                <dt class="col-sm-4">
                                    Date Updated
                                </dt>
                                <dd class="col-sm-8">
                                    @oldValue.UpdatedBy
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div> <!--end card-body-->
                <div class="card-footer">
                    <div class="col">
                        <a class="btn btn-outline-dark btn-sm px-4 " href="@ViewBag.ReturnUrl"><i class="fas fa-chevron-left"></i> Back</a>
                    </div><!--end col-->
                </div>
            </div><!--end card-->
        </div> <!--end col-->
    </div><!--end row-->

</div><!-- container -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}