@model SubstituteViewModel

@inject CustomIDataProtection protector;
@{
    ViewData["Title"] = "Food Item Substitutes";
    int i = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Analytics</a></li>
                        <li class="breadcrumb-item active">Manage Food Item Substitutes</li>
                    </ol>
                </div>
                <h4 class="page-title">Food Items Substitutes</h4>
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col">
                        <a class="btn btn-soft-primary btn-sm px-4" asp-action="AddSubstitute" asp-route-id="@protector.Encode(Model.FoodItemId.ToString())"><i class="mdi mdi-plus me-2"></i>Add New</a>
                    </div>
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="datatable_1">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Substitutes)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SubstituteName)</td>
                                        <td>
                                            <form asp-action="RemoveSubstitute" asp-route-id="@protector.Encode(Model.FoodItemId.ToString())" asp-route-substituteId="@protector.Encode(item.SubstituteId.ToString())" method="post">
                                                <input type="hidden" name="foodItemId" value="@Model.FoodItemId" />
                                                <input type="hidden" name="substituteFoodItemId" value="@item.SubstituteId" />
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </td>

                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-Footer">
                    <div class="col">
                        <a class="btn btn-outline-dark btn-sm px-4 " asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i> Back</a>
                    </div><!--end col-->
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
