@model IEnumerable<PartnerGiveOut>

@inject CustomIDataProtection protector;
@{
    ViewData["Title"] = "Partner Hampers List";
    int i = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Analytics</a></li>
                        <li class="breadcrumb-item active">Partner Hampers</li>
                    </ol>
                </div>
                <h4 class="page-title">Partner Hampers</h4>
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col">
                        <a class="btn btn-soft-primary btn-sm px-4" asp-action="AddPartnerGiveOut"><i class="mdi mdi-plus me-2"></i>Add New</a>
                    </div>
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="datatable_1">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>@Html.DisplayNameFor(model => model.Partner.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.CollectionDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.CollectionTime)</th>
                                    <th>@Html.DisplayNameFor(model => model.Weight)</th>
                                    <th>@Html.DisplayNameFor(model => model.Collected)</th>
                                    <th>@Html.DisplayNameFor(model => model.DateCollected)</th>
                                    <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Partner.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Collected)</td>
                                        <td><span class="badge @(item.Collected ? "badge-soft-success" : "badge-soft-danger")">@(item.Collected ? "Yes" : "No")</span></td>
                                        <td>@Html.DisplayFor(modelItem => item.DateCollected)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                                        <td>
                                            <a asp-action="EditPartnerGiveOut" asp-route-id="@protector.Encode(item.PartnerGiveOutId.ToString())" asp-route-returnUrl="@protector.Encode(ViewBag.ReturnUrl)"><i class="las la-pen text-secondary font-16"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-Footer">
                    <div class="col">
                        <a class="btn btn-outline-dark btn-sm px-4 " asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i> Back</a>
                    </div><!--end col-->
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
